// Grids
// Section
// Grid Global 'Section' (area)
@mixin section-grid-setting {
    display: grid;
    grid-gap: $l-rem;
    padding-bottom: $xs-rem;
}

// Tablet
@mixin section-tablet {
    @include section-grid-setting;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: $l-rem repeat(autofill 4, 1fr);
    grid-gap: $xs-rem;
}

// Tablet large
@mixin section-tabletLarge {
    @include section-grid-setting;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: $l-rem repeat(autofill 2, 1fr);
}

// Tablet Xlarge
@mixin section-tabletXLarge {
    @include section-grid-setting;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: $l-rem repeat(autofill 2, 1fr);
    grid-gap: 2rem;
}

// Desktop
@mixin section-desktop {
    @include section-grid-setting ;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: $l-rem repeat(autofill 2, 1fr);
    grid-gap: 2rem;
}

@mixin section-desktopL {
    @include section-grid-setting; 
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: $l-rem repeat(autofill 3, 1fr);    
}

// Specific 'Footer' column and row
@mixin col2-row2 {
    grid-column: 2;
    grid-row: 2;
}