// Block
// Global blog setting

// Main container - block
// @include block is located in _units.scss partial
@mixin container {
    @include block;
    text-align: center;
}

// Main area 'Section'
@mixin main-mobile-tablet {
    width: 90%;
    margin: 0 auto;
    margin-top: $xs-rem;
    margin-bottom: $xs-rem;
    text-align: center;
}

@mixin main-tabletL-desktop { 
    width: 95%;
    margin: 0 auto;
    margin-bottom: $xs-rem;
}

// Main area sub-items 'article'
@mixin article-mobile-tablet {
    width: 95%;
    margin: 0 auto;
    margin-bottom: $xs-rem;
}
