// Colors
$white: #FFF;
$platinum: #ebebeb;
$lightgray: #d6d6d6;
$silver: #c2c2c2;
$black: #000;

$shadow-logo: hsla(230,40%,50%,1);
$hover-logo: rgb(97, 185, 243);

// Social media
$facebook: #4267B2;
$instagram: #E1306C;
$pinterest: #E60023;
$twitter: #1DA1F2;

// Button colors 'hover
$mantis: rgb(130, 216, 104);
$sweet-red: rgb(199, 87, 87);
$fucsia-crayola: rgb(196, 99, 196);
$max-blue: rgb(99, 165, 196);
$azure: rgb(218, 238, 247);
