// Google Fonts, popular pairings with Freckle Face (brand)
// Freckle Face
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
// Open Sans Semi-bold
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
// Fjalla+One
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
// Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Fonts variables
$logo-btn-font: 'Freckle Face';
$nav-list-font: 'Open Sans', sans-serif;
$btn-font: 'Open Sans', sans-serif;
$small-ital-font: 'Open Sans', sans-serif;
$quotes-font: 'Fjalla One', sans-serif;
$p-font: 'Roboto', sans-serif;