// Borders
$extra-thin: .5rem solid;
$thin-border: 1rem solid;
$medium-border: 1.5rem solid;
$large-border: 2.5rem solid;

// rems
$size-rem-one: 0.6rem;
$size-rem-two: 0.7rem;
$size-rem-three: 0.8rem;
$size-rem-four: 0.9rem;
$size-rem-five: 1rem;
$size-rem-six: 1.5rem;
$size-rem-seven: 2rem;

// Zero
$zero: 0;

// margin setting to center items
$center: 0 auto;