// Borders
$extra-thin: .5rem solid;
$thin-border: 1rem solid;
$medium-border: 1.5rem solid;
$large-border: 2.5rem solid;

// rems
$extra-small: 0.6rem;
$small: 0.7rem;
$margin-small: 0.8rem;
$font-small: 0.9rem;
$margin-medium: 1rem;
$height: 1.5rem;
$margin-height-large: 2rem;

// Zero
$zero: 0;

// margin setting to center items
$center: 0 auto;